<h2 class="text-center">Your cart</h2><br/>
<div class="row text-center justify-content-center">
    <div class="col-md-3">
        <a class="btn btn-info fa fa-arrow-left" href="/Fresheners/Index">&ensp;Back to all fresheners</a><br />
        <br />
    </div>
    <div class="col-md-9"></div>
</div>
    @if (TempData.ContainsKey("message"))
    {
        <h1 class="text-center"> @ViewBag.message&nbsp;</h1>
        <br />
    }
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <h4 class="card-header text-center">
                        Order sumarry
                    </h4>
                    <div class="card-body">

                        @if (ViewBag.TotalSum >= 300)
                        {
                            <p>
                                <span class="text-left float-left">Fresheners:</span> <span class="text-right float-right">@ViewBag.TotalSum Lei</span>
                            </p><br />
                            <p>
                                <span class="text-left float-left">Shippinp tax:</span><span class="text-right float-right">0 Lei</span>
                            </p><br />
                        }
                        else
                        {

                            if (ViewBag.TotalSum == 0)
                            {<p>
                                    <span class="text-left float-left">Total fresheners:</span>  <span class="text-right float-right">0 Lei</span>
                                </p><br />
                                <p>
                                    <span class="text-left float-left">Shipping Tax:</span>  <span class="text-right float-right">0 Lei</span>
                                </p><br />
                            }
                            else
                            {
                                <p>
                                    <span class="text-left float-left">Total fresheners:</span>  <span class="text-right float-right">@(ViewBag.TotalSum - 20) Lei</span>
                                </p><br />
                                <p>
                                <span class="text-left float-left">Shipping Tax:</span>  <span class="text-right float-right">20 Lei</span>
                            </p><br />
                            }
                        }
                        <h5>
                            <span class="text-left float-left">Total:</span> <span class="text-right float-right">@ViewBag.TotalSum Lei</span>
                        </h5>
                        <br /><br />
                        <div class="align-items-center justify-content-center text-center">
                            <a href="/Orders/New" class="btn fa fa-shopping-bag btn-success">
                                &ensp;Continue
                            </a>
                        </div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <p>20 Lei shipping tax for orders less than 300 Lei</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    @foreach (var ic in ViewBag.ItemCarts)
                    {
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-2">
                                    <a href="/Fresheners/Show/@ic.Freshener.FreshenerId">
                                        <img class="card-img" src="@ic.Freshener.FreshenerImage" alt="freshener image" />
                                    </a>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-3 col-3">
                                    <h4 class="text-center">@ic.Freshener.FreshenerName</h4>
                                </div>
                                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-2 col-2 float-left">
                                    <form method="post" action="/ItemCarts/DecreaseItem/@ic.ItemCartId">
                                        @Html.HttpMethodOverride(HttpVerbs.Put)
                                        <button class="btn btn-info" type="submit"><i class="fa fa-minus"></i></button>
                                    </form>
                                </div>
                                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1 col-1">
                                    <h4 class="text-center"><b>@ic.ItemCartQuantity</b></h4>
                                </div>
                                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-2 col-2">
                                    <div class="float-right">
                                        <form method="post" action="/ItemCarts/IncrementItem/@ic.ItemCartId">
                                            @Html.HttpMethodOverride(HttpVerbs.Put)
                                            <button class="btn btn-info" type="submit"><i class="fa fa-plus"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-2 col-2">
                                    <h5 class="text-center float-right">
                                        Price:<i> @ic.Freshener.FreshenerPrice Lei</i>
                                    </h5>
                                    <form method="post" action="/ItemCarts/Delete/@ic.ItemCartId">
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <button class="btn btn-danger fa fa-trash pull-right" type="submit">&ensp;Remove</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>