<div class="container-fluid">
    <h2 class="text-center">Your cart</h2>
    <a class="btn btn-info fa fa-arrow-left" href="/Fresheners/Index">&ensp;Back to all fresheners</a>
    <br />
    @if (TempData.ContainsKey("message"))
    {
        <h1 class="text-center"> @ViewBag.message&nbsp;</h1>
        <br />
    }
    <div class="row">
        <div class="col-md-8">
            @foreach (var ic in ViewBag.ItemCarts)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:white;">
                        <h4 class="text-primary pull-left">@ic.Freshener.FreshenerName</h4>
                        <form method="post" action="/ItemCarts/Delete/@ic.ItemCartId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-danger pull-right" type="submit"><i class="fa fa-trash"></i>&ensp;Remove</button>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="card-img-top" src="@ic.Freshener.FreshenerImage" alt="poza produsului" />
                            </div>
                            <div class="col-md-5">
                                <p style="height:120px; overflow:hidden;">@ic.Freshener.FreshenerDescription</p>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">
                                        <form method="post" action="/ItemCarts/DecreaseItem/@ic.ItemCartId">
                                            @Html.HttpMethodOverride(HttpVerbs.Put)
                                            <button class="btn btn-info" type="submit"><i class="fa fa-minus"></i></button>
                                        </form>
                                    </div>
                                    <div class="col-md-2">
                                        <h4><b>@ic.ItemCartQuantity</b></h4>
                                    </div>
                                    <div class="col-md-3">
                                        <form method="post" action="/ItemCarts/IncrementItem/@ic.ItemCartId">
                                            @Html.HttpMethodOverride(HttpVerbs.Put)
                                            <button class="btn btn-info" type="submit"><i class="fa fa-plus"></i></button>
                                        </form>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <h4 class="text-center">

                                    Price:<i> @ic.Freshener.FreshenerPrice Lei</i>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center text-success">Salut, @ViewBag.currentUser.UserName</h4>
                </div>
                <div class="panel-body">

                    <div class="text-center">
                        <h4>Total: @ViewBag.TotalSum Lei</h4>
                        <h5>Free Shipping for orders more than 300 Lei</h5>
                        <h5>20 Lei shipping tax for orders less than 300 Lei</h5>
                        <br />
                        <a href="/Orders/New" class="btn btn-success">
                            <i class="fa fa-shopping-bag">&ensp;Continue</i>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>