@model FreshenerShopSDM.Models.Category
<h2 class="text-center">Edit categoriy @Model.CategoryId, @Model.CategoryName</h2><br />

<form method="post" action="/Categories/Edit/@Model.CategoryId">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.CategoryId)
    <div class="form-row text-left justify-content-center">
        <div class="form-group col-md-6 justify-content-center align-items-center">
            @Html.Label("CategoryName", "Category Name")
            @Html.ValidationMessageFor(m => m.CategoryName, " *", new { @class = "text-danger " })
            @Html.TextBox("CategoryName", null, new { @class = "form-control" })
            <br />
        </div>
        <div class="form-group col-md-6 justify-content-center align-items-center">
            @Html.Label("CategorySlug", "Category Slug")
            @Html.ValidationMessageFor(m => m.CategorySlug, " *", new { @class = "text-danger " })
            @Html.TextBox("CategorySlug", null, new { @class = "form-control" })
            <br />
        </div>
    </div><br />
    <div class="form-row text-left justify-content-center">
        <div class="form-group col-md-6 justify-content-center align-items-center">
            @Html.Label("CategoryImage", "Category Image")
            @Html.ValidationMessageFor(m => m.CategoryImage, " *", new { @class = "text-danger " })
            @Html.TextBox("CategoryImage", null, new { @class = "form-control" })
            <br />
        </div>
        <div class="form-group col-md-6 justify-content-center align-items-center">
            @Html.Label("CategoryDescription", "Category Description")
            @Html.ValidationMessageFor(m => m.CategoryDescription, " *", new { @class = "text-danger " })
            @Html.TextBox("CategoryDescription", null, new { @class = "form-control" })
            <br />
        </div>
    </div><br />

    <div class="row text-center">
        <div class="col-md-12">
            <button class="btn btn-success justify-content-center" type="submit"><i class="fa fa-check">&ensp;Modify category</i></button>
        </div>
    </div>
</form>