@model FreshenerShopSDM.Models.Category
@{
    ViewBag.Title = "All fresheners from this category: ";
}
@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}
<h2>@ViewBag.Title</h2>

<h3>@Model.CategoryName</h3>
<br />
<div class="container-fluid">
    <div class="row" style="margin:auto;">
        
            @foreach (var freshener in ViewBag.Fresheners)
            {
                <div class="col-md-3">
                    <a href="/Fresheners/Show/@freshener.FreshenerId">@freshener.FreshenerName</a>
                    <a href="/Fresheners/Show/@freshener.FreshenerId">
                        <img class="img-responsive" src="@freshener.FreshenerImage" alt="freshener image" style="height:200px; width:150px; margin: 5px 0px 14px 0px;" />
                    </a>
                </div>
            } 
    </div>
</div>

    <br />
    <form method="post" action="/Categories/Delete/@Model.CategoryId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger" type="submit">Delete Category</button>
    </form>
    <br />
    <a href="/Categories/Index">Back to all categories</a>
