@model FreshenerShopSDM.Models.Category
@if (TempData.ContainsKey("message"))
{
    <h1 class="text-center"> @ViewBag.message&nbsp;</h1>
    <br />
}
    <h2 class="text-center">@Model.CategoryName</h2>
    <br />
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xl-3">
        @foreach (var freshener in ViewBag.Fresheners)
        {
        <div class="col mb-4">
            <div class="card h-100 border-secondary mb-3">
                <a href="/Fresheners/Show/@freshener.FreshenerId">
                    <img class="card-img-top" src="@freshener.FreshenerImage" alt="freshener image" style="height:200px;" />
                </a>
                <div class="card-body">
                    <a href="/Fresheners/Show/@freshener.FreshenerId" style="color:black">
                        <h3 class="card-title text-center">@freshener.FreshenerName</h3>
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">
                        Rating:&ensp;
                        @if (freshener.FreshenerRating != 0)
                        {
                            var j = 0;
                            for (var i = 1; i <= freshener.FreshenerRating; i++)
                            {
                                <i class="fa fa-star" style="color:gold;"></i>
                                j++;
                            }
                            if (freshener.FreshenerRating - j != 0)
                            {
                                <i class="fa fa-star-half-full" style="color:gold;"></i>
                            }
                            for (var i = 5 - freshener.FreshenerRating; i >= 1; i--)
                            {
                                <i class="fa fa-star-o" style="color:gold;"></i>
                            }
                        }
                        else
                        {
                            <a href="/Fresheners/Show/@freshener.FreshenerId" style="color:black">No reviews yet!</a>
                        }
                    </li>
                    <li class="list-group-item text-center">
                        <h4>@freshener.FreshenerPrice Lei</h4>
                    </li>
                    @if (freshener.FreshenerAvailability == false)
                    {
                        <li class="list-group-item text-center" style="padding-top:1.7em;">
                            <form action="javascript:void(0);">
                                <button class="btn btn-outline-danger">
                                    <i class="fa">Freshener unavailable!</i>
                                </button>
                            </form>
                        </li>
                    }

                    @if (freshener.FreshenerStock > 0 && freshener.FreshenerAvailability == true)
                    {
                        <li class="list-group-item text-center" style="padding-top:1.7em;">
                            <form method="post" action="/ItemCarts/New">
                                <input type="hidden" name="FreshenerId" value="@freshener.FreshenerId" />
                                <input type="hidden" name="ItemCartQuantity" value="1" />
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-shopping-bag">&ensp;Add to Basket</i>
                                </button>
                            </form>
                        </li>
                    }
                    @if (freshener.FreshenerStock <= 0 && freshener.FreshenerAvailability == true)
                    {
                        <li class="list-group-item text-center" style="padding-top:1.7em;">
                            <form action="javascript:void(0);">
                                <button class="btn btn-outline-danger">
                                    <i class="fa">Out of stock!</i>
                                </button>
                            </form>
                        </li>
                    }
                </ul>
                @if (User.IsInRole("Admin"))
                {
                    <div class="card-footer text-center">
                        <small class="text-muted">Added on: @freshener.FreshenerModifyDate</small>
                    </div>
                }
            </div>
        </div>
        }
    </div>
    <br />
<div class="row text-center">
    <div class="col-md-12">
        <a class="btn btn-info justify-content-center" href="/Categories/Index"><i class="fa fa-arrow-circle-o-left">&ensp;Back to all categories</i></a><br />
        @if (User.IsInRole("Admin"))
        {
            <br />
            <form method="post" action="/Categories/Delete/@Model.CategoryId">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger justify-content-center" type="submit"><i class="fa fa-trash">&ensp;Delete Category</i></button>
            </form>
        }

    </div>
</div>