@model FreshenerShopSDM.Models.OrderComplete

<h2 class="text-primary">Edit Order Fresheners (Order Completed: @Model.OrderCompleteId; Order Address: @Model.OrderId)</h2>
@foreach (var ordCom in ViewBag.OrdersCompleted)
{
    @Html.Label("FreshenerId", "Freshener Id")<br />
    @Html.EditorFor(m => m.FreshenerId)
    <br /><br />

    @Html.Label("FreshenerQuantity", "Freshener Quantity")<br />
    @Html.EditorFor(m => m.FreshenerQuantity)
    <br /><br />

}