@model FreshenerShopSDM.Models.Contact
@if (TempData.ContainsKey("message"))
{
    <h1 class="text-center"> @ViewBag.message&nbsp;</h1>
    <br />
}
<h2 class="text-center">Contact form no. @Model.ContactId</h2><br />

<div class="card text-center">
    <div class="card-header">
        <i class="fa fa-user">&ensp; Name: @Model.ContactName</i>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <i class="fa fa-at">&ensp;Email: @Model.ContactEmail </i>
                <br />
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-mobile-phone card-text"></i> Phone number: <span class="label label-default">@Model.ContactPhoneNumber</span>
                <br />
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-book"></i> Subject: <span class="label label-default">@Model.ContactSubject</span>
                <br />
            </li>
            <li class="list-group-item text-center">
                <i class="fa fa-envelope"></i> Message: <span class="label label-default">@Model.ContactMessage</span>
                <br /><br />

                @using (Html.BeginForm(actionName: "Delete", controllerName: "Contacts", routeValues: new { id = @Model.ContactId }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <br />
                    <button class="btn btn-danger fa fa-trash" type="submit">&ensp;Delete contact form</button>
                }
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <small class="text-muted float-left">Date created: @Model.ContactModifyDate</small>
        <small class="text-muted float-right">Added by: @Model.UserId</small>
    </div>
</div>