@model FreshenerShopSDM.Models.Freshener

<h2 class="text-center">Edit Freshener @Model.FreshenerId, @Model.FreshenerName</h2><br/>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Fresheners", routeValues: new { id = Model.FreshenerId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <div class="form-row text-left justify-content-center">
        <div class="form-group col-md-4">
            @Html.Label("FreshenerName", "Freshener Name", new { @class = "text-center" })
            @Html.ValidationMessageFor(m => m.FreshenerName, " *", new { @class = "text-danger" })
            @Html.TextBox("FreshenerName", null, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.Label("FreshenerSlug", "Freshener Slug")
            @Html.ValidationMessageFor(m => m.FreshenerSlug, " *", new { @class = "text-danger" })
            @Html.TextBox("FreshenerSlug", null, new { @class = "form-control" })
        </div>


        <div class="form-group col-md-4">
            @Html.Label("FreshenerDescription", "Freshener Description")
            @Html.ValidationMessageFor(m => m.FreshenerDescription, " *", new { @class = "text-danger" })
            @Html.TextArea("FreshenerDescription", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row text-left justify-content-center">
        <div class="form-group col-md-4">
            @Html.Label("FreshenerPrice", "Freshener Price")
            @Html.ValidationMessageFor(m => m.FreshenerPrice, " *", new { @class = "text-danger" })
            @Html.TextBox("FreshenerPrice", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("FreshenerImage", "Freshener Image")
            @Html.ValidationMessageFor(m => m.FreshenerImage, " *", new { @class = "text-danger" })
            @Html.TextBox("FreshenerImage", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("FreshenerAvailability", "Freshener Availability")
            @Html.ValidationMessageFor(m => m.FreshenerAvailability, " *", new { @class = "text-danger" })
            @Html.CheckBox("FreshenerAvailability", true, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row text-left justify-content-center">
        <div class="form-group col-md-4">
            @Html.Label("FreshenerCode", "Freshener Code")
            @Html.ValidationMessageFor(m => m.FreshenerCode, "", new { @class = "text-danger" })
            @Html.TextBox("FreshenerCode", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("FreshenerStock", "Freshener Stock")
            @Html.ValidationMessageFor(m => m.FreshenerStock, "", new { @class = "text-danger" })
            @Html.TextBox("FreshenerStock", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            <label>Select Category</label>@Html.ValidationMessageFor(m => m.CategoryList, " *", new { @class = "text-danger" })
            @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.CategoryList, "Value", "Text"), "Select category", new { @class = "form-control" })
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <button class="btn btn-success justify-content-center" type="submit"><i class="fa fa-check">&ensp;Modify freshener</i></button>
        </div>
    </div>
     }

