@model FreshenerShopSDM.Models.Order

<h2 class="text-primary">Edit Order Address @Model.OrderId, @Model.UserId</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Orders", routeValues: new { id = Model.OrderId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("OrderFirstName", "First Name")<br />
    @Html.EditorFor(m => m.OrderFirstName)
    <br /><br />

    @Html.Label("OrderLastName", "Last Name")<br />
    @Html.EditorFor(m => m.OrderLastName)
    <br /><br />

    @Html.Label("OrderCity", "City")<br />
    @Html.EditorFor(m => m.OrderCity)
    <br /><br />

    @Html.Label("OrderState", "State")<br />
    @Html.EditorFor(m => m.OrderState)
    <br /><br />

    @Html.Label("OrderPostalCode", "Postal Code")<br />
    @Html.EditorFor(m => m.OrderPostalCode)
    <br /><br />

    @Html.Label("OrderStreet", "Street name")<br />
    @Html.EditorFor(m => m.OrderStreet)
    <br /><br />

    @Html.Label("OrderPhone", "Phone number")<br />
    @Html.EditorFor(m => m.OrderPhone)
    <br /><br />

    @Html.Label("OrderEmail", "Email")<br />
    @Html.EditorFor(m => m.OrderEmail)
    <br /><br />

    @Html.Label("OrderSent", "Order Sent")<br />
    @Html.EditorFor(m => m.OrderSent)
    <br /><br />

    <button class="btn btn-sm btn-success" type="submit">Modify order details</button>
}

