@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

@model FreshenerShopSDM.Models.Order

@{
    ViewBag.Title = "All orders:"; }
<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>
@foreach (var order in ViewBag.Orders)
{<div class="panel-heading">Order Id: @order.OrderId</div>
<div class="panel-body">
    <i class="glyphicon glyphicon-envelope"></i>UserName: <span class="label label-default">@order.UserName</span>
    <br />
    <i class="glyphicon glyphicon-phone"></i>Phone: <span class="label label-default">@order.OrderPhone</span>
    <br /><br />
    <i class="glyphicon glyphicon-euro"></i>Total: <span class="label label-default">@order.OrderTotal</span>
    <br />
    <i class="glyphicon glyphicon-info-sign"></i>Items: <span class="label label-default">@order.ItemCarts</span>
</div>
<div class="panel-footer">
    <a class="btn btn-sm btn-success" href="/Orders/Show/@order.OrderId">Show form details.</a>
    @using (Html.BeginForm(actionName: "Delete", controllerName: "Orders", routeValues: new { id = order.OrderId }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger" type="submit">Delete order</button>
    }
</div>
<br /><br />
}
