@model FreshenerShopSDM.Models.Order

<h2>Tell us where to deliver your order</h2>

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

@using (Html.BeginForm(actionName: "New", controllerName: "Orders"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Label("OrderFirstName", "First Name")
    @Html.ValidationMessageFor(m => m.OrderFirstName, " *", new { @class = "text-danger " })
    <br />
    @Html.TextBox("OrderFirstName", null, new { @class = "form-control" })
    <br /><br />

    @Html.Label("OrderLastName", "Last Name")
    @Html.ValidationMessageFor(m => m.OrderLastName, " *", new { @class = "text-danger " })
    <br />
    @Html.TextBox("OrderLastName", null, new { @class = "form-control" })
    <br /><br />

    @Html.Label("OrderCity", "City")
    @Html.ValidationMessageFor(m => m.OrderCity, " *", new { @class = "text-danger " })
    <br />
    @Html.TextArea("OrderCity", null, new { @class = "form-control" })
    <br /><br />

    @Html.Label("OrderState", "State")
    @Html.ValidationMessageFor(m => m.OrderState, " *", new { @class = "text-danger " })
    <br />
    @Html.TextBox("OrderState", null, new { @class = "form-control" })
    <br /><br />

    @Html.Label("OrderStreet", "Street")
    @Html.ValidationMessageFor(m => m.OrderStreet, " *", new { @class = "text-danger " })
    <br />
    @Html.TextBox("OrderStreet", null, new { @class = "form-control" })
    <br /><br />

    @Html.Label("OrderPostalCode", "Postal Code")<br />
    @Html.TextBox("OrderPostalCode", null, new { @class = "form-control" })
    <br /><br />

    @Html.Label("OrderPhone", "Phone number")
    @Html.ValidationMessageFor(m => m.OrderPhone, " *", new { @class = "text-danger " })
    <br />
    @Html.TextBox("OrderPhone", null, new { @class = "form-control" })
    <br /><br />

    @Html.Label("OrderEmail", "Email")<br />
    @Html.TextBox("OrderEmail", null, new { @class = "form-control" })
    <br /><br />

    <br />
    <button class="btn btn-sm btn-success" type="submit">Send order</button>
}