@if (TempData.ContainsKey("message"))
{
    <h1 class="text-center"> @ViewBag.message&nbsp;</h1>
    <br />
}

@model FreshenerShopSDM.Models.Order

<h2 class="text-center">Order @Model.OrderId details:</h2><br />

@foreach (var orderCompleted in ViewBag.OrdersCompleted)
{
    <div class="panel-body">
        Freshener: <span class="label label-default">@orderCompleted.Freshener.FreshenerName</span>
        <a href="/Fresheners/Show/@orderCompleted.Freshener.FreshenerId"><img class="img-responsive" src="@orderCompleted.Freshener.FreshenerImage" alt="freshener image" style="height:200px; width:150px; margin: 5px 0px 14px 0px;" /></a> X <span class="label label-default">@orderCompleted.FreshenerQuantity</span>
        <br />
    </div>
}
<div class="panel-heading">Order Id: @Model.OrderId</div>
<div class="panel-body">
    <i class="glyphicon glyphicon-user"></i>Name : <span class="label label-default">@Model.OrderFirstName @Model.OrderLastName</span>
    <br />
    <i class="glyphicon glyphicon-phone"></i>Phone: <span class="label label-default">@Model.OrderPhone</span>
    <br />
    <i class="glyphicon glyphicon-euro"></i>Total: <span class="label label-default">@Model.OrderTotal</span>
    <br />
    <i class="glyphicon glyphicon-time"></i>Date: <span class="label label-default">@Model.OrderModifyDate</span>
    <br />
    <i class="glyphicon glyphicon-envelope"></i>Email: <span class="label label-default">@Model.OrderEmail</span>
    <br />
    City: <span class="label label-default">@Model.OrderCity</span>
    <br />
    State: <span class="label label-default">@Model.OrderState</span>
    <br />
    Street name: <span class="label label-default">@Model.OrderStreet</span>
    <br />
    Postal Code: <span class="label label-default">@Model.OrderPostalCode</span>
    <br />
    <i class="glyphicon glyphicon-envelope"></i>OrderSent: <span class="label label-default">@Model.OrderSent</span>
    <br />
    <i class="glyphicon glyphicon-log-in"></i>UserId: <span class="label label-default">@Model.UserId</span>
    <br />
    <div class="panel-footer">
        @if (Model.OrderSent == false)
        {
            <a class="btn btn-warning" href="/Orders/Edit/@Model.OrderId"><i class="fa fa-edit"></i>Edit Order Deliver</a>
        }
        @if (Model.OrderSent == true)
        {
            <p>You can not cancel this order, it has already been processed and sent. Please delete it and make another one.</p>
        }
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Orders", routeValues: new { id = Model.OrderId }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger" type="submit">Delete order</button>
        }
    </div>
    <br /><br />
</div>
